#tab{
    background-color: rgb(165, 163, 163);
    padding: 1%;   
}

#name{
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-align: center;
    align-items: center;
}

h1{
    text-align: center;
    
}